


.entry-content{
width: 1200px;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
text-align: left;
}

#h-privacy-policy{
 font-size: 43px;
 font-weight: bold;
}
#dateofprivacypolicy{
    margin-bottom: 23px;
}
